<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sjyy_expert_android"
    android:versionCode="0100050911"
    android:versionName="1.0.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55d2d0c267e58e87f90014c4" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.BaseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.doctor.GoToAppointmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.order.AppointmentOrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.order.OrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.order.RefuseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.about.AboutSjyyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.about.ServiceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.about.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.user.PerfectDoctorInfoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.Registered.RegisteredActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.Registered.GetCodeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.Registered.SettingPasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseAreaActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseCityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseHospitalActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseDepartmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseTitleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseServiceItemsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseCategoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
 <activity
            android:name="com.example.sjyy_expert_android.activity.choose.ChooseDiseaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        
 <activity
            android:name="com.example.sjyy_expert_android.activity.about.CallSalesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.about.BindingSalesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.sjyy_expert_android.activity.patient.SeeCaseDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.example.sjyy_expert_android.activity.about.SeriousMissionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>